<h1>Lista Productos</h1>

<table>
    <tr>
        <th>Id:</th>
        <th>Título:</th>
        <th>Descripción:</th>
        <th>Código:</th>
        <th>Precio:</th>
        <th>Estado:</th>
        <th>Stock:</th>
        <th>Categoría:</th>
        <th>Imágenes:</th>
    </tr>

    {{#each products}}
        <tr>
            <td>{{_id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>${{price}}</td>
            <td>{{status}}</td>
            <td>{{stock}}</td>
            <td>{{category}}</td>
            <td>{{thumbnail}}</td>
            <td>
                <button class="addToCartButton" data-productid="{{_id}}">Agregar al Carrito</button> 
            </td>
        </tr>
    {{/each}}
</table>

<div>
    {{#if hasPrevPage}}
    <a href={{this.prevLink}}>
        << Anterior</a>
            {{/if}}
            &nbsp;
            {{this.page}}
            &nbsp;
            {{#if hasNextPage}}
            <a href={{this.nextLink}}>Siguiente >></a>
            {{/if}}
</div>